## Mango Db with Python- Querying Json Documents

In [1]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [2]:
record={
        'firstname':'Yetish',
        'lastname':'Moone',
        'department':'Analytics',
        'qualification':'BE',
        'age':29
        }
empinfo.insert_one(record)

In [3]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':32
        
        }]

In [4]:
empinfo.insert_many(records)

In [5]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('5f68d6ab9ec33c57d4e6f569'),
 'firtname': 'John',
 'lastname': 'Reed',
 'department': 'Analytics'}

In [6]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('5f68d6ab9ec33c57d4e6f569'), 'firtname': 'John', 'lastname': 'Reed', 'department': 'Analytics'}
{'_id': ObjectId('5f68d7fe9ec33c57d4e6f56d'), 'firtname': 'John', 'lastname': 'Reed', 'department': 'Analytics'}
{'_id': ObjectId('5f68d7fe9ec33c57d4e6f56e'), 'firtname': 'John1', 'lastname': 'Reed1', 'department': 'Analytics1'}
{'_id': ObjectId('5f68d7fe9ec33c57d4e6f56f'), 'firtname': 'John2', 'lastname': 'Reed2', 'department': 'Analytics2'}
{'_id': ObjectId('5f69f4969b7d0cb84e640f35'), 'firstname': 'Yetish', 'lastname': 'Moone', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}
{'_id': ObjectId('5f69f4d89b7d0cb84e640f36'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('5f69f4d89b7d0cb84e640f37'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('5f69f4d89b7d0cb84e640f38'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f69f4d89b7d0cb84e640f39'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [7]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=krish

for record in empinfo.find({'firstname':'Yetish'}):
    print(record)

{'_id': ObjectId('5f69f4969b7d0cb84e640f35'), 'firstname': 'Yetish', 'lastname': 'Moone', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [8]:
## Query documents using query operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('5f69f4d89b7d0cb84e640f38'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('5f69f4d89b7d0cb84e640f39'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [9]:
## And and Query operators
for record in empinfo.find({'qualification':'master','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('5f69f4d89b7d0cb84e640f39'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 32}

In [10]:
## OR operators
for record in empinfo.find({'$or':[{'firstname':'Yetish'},{'qualification':'BE'}]}):
    print(record)

{'_id': ObjectId('5f69f4969b7d0cb84e640f35'), 'firstname': 'Yetish', 'lastname': 'Moone', 'department': 'Analytics', 'qualification': 'BE', 'age': 29}

In [11]:
inventory=mydb.inventory

In [12]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [13]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('5f69f5439b7d0cb84e640f3a'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}